html{
	height: 100%;
}

body{
	background-color: #FFFFFF;
	font-family: 'Fira Sans', sans-serif;
}
h1{
	font-size: 56px;
	font-weight: bold;
	color: #111;
}
h2{
	color: #222;
}
p {
	color: #333;
}
.surname{
	color: #3e753d;
}
.navbar{
	background-color: #3e753d;
	background: linear-gradient(90deg, #3e753d, #DCE35B);
}
.nav-link{
	color: #fff;
	font-weight: bold;
}
.resume-section{
	min-height: 100vh;
}
.resume-section{
	border-bottom: 1px solid #AAA;
}
.nav-link:hover, .nav-link:focus, .nav-link:active {
  color: #DCE35B;
}
.mail{
	color: #333;
}
.mail:hover{
	color: #555;
}
