html {
	background-color: #f3f3f3;
	background-image: url('./images/background.jpg');
	background-repeat: repeat-x;
}
#navigation li {
font-family:Arial;
position:relative;
left:-25px;
top:-13px;
color:#626262;
font-size:16px;
cursor:pointer;
padding:10px;
display:inline-block;

}

